// Favicon helpers
.icon-mirror-x {
	transform: scaleX(-1);
}

.icon-mirror-y {
	transform: scaleY(-1);
}

.italic {
	font-style: italic;
}

.bold {
	font-style: bold;
}

.underlined {
	text-decoration: underline;
}