/* @import "../node_modules/bootstrap/scss/bootstrap"; */
@import "original_styles";
@import "home";

$rojo: #ff0000;
$verde: #00ff00;

.navbar-default {
    .navbar-nav {
        li {
            a {
                color: $verde;
            }
        }
            
    }
}
